.headline{
    text-align: center;
    background-color: #f06292;
    padding: 20px;
    color:#ffffff;
}
.form_tag{
    text-align: center;
}
input{
border-radius: 5px;
}
select{
    border-radius: 5px;
}
body{
    background: #ede7f6;
}   