<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TraineeRegistrationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>trainee.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>com.mindtree.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  <servlet-name>Details</servlet-name>
  <servlet-class>com.mindtree.Details</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Details</servlet-name>
  <url-pattern>/Details</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  <servlet-name>FinalDetails</servlet-name>
  <servlet-class>com.mindtree.FinalDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FinalDetails</servlet-name>
  <url-pattern>/FinalDetails</url-pattern>
  </servlet-mapping> 
  
    <servlet>
  <servlet-name>ViewDetails</servlet-name>
  <servlet-class>com.mindtree.ViewDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ViewDetails</servlet-name>
  <url-pattern>/ViewDetails</url-pattern>
  </servlet-mapping> 
  
   <context-param>  
    <param-name>Username</param-name>  
    <param-value>admin</param-value>  
  </context-param>  
  
   <context-param>  
    <param-name>Password</param-name>  
    <param-value>admin@mindtree123</param-value>  
  </context-param>  
</web-app>